* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary);
    color: var(--white);
    font-family: poppins;
    font-weight: 300;
    font-size: 1rem;
}



/* CSS Variables */

:root {
    --primary: #DE6B1C;
    --secondary: #000;
    --gray: #0f0f0f;
    --text: #e7e7e7;
    --white: #fff;
    --accent: #b6b6b6;
}



/* Utility Classes */

.d-flex {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.justify-centre {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.text-centre {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.mt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 20px;
}

.mb-2 {
    margin-bottom: 40px;
}

.ml-1 {
    margin-left: 20px;
}

.mtb-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sec-padd {
    padding: 100px;
}

.mtb {
    margin: 100px 0px 100px 0px;
}

.sec-height {
    height: 80vh;
}

.bg-color-gray {
    background-color: var(--gray);
}

.heading {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
    background-color: transparent;
}

.sub-heading {
    color: var(--primary);
    font-weight: 400;
    letter-spacing: 0.35rem;
    background-color: transparent;
}

.sub-heading-1 {
    color: var(--primary);
    font-weight: 400;
    background-color: transparent;
}

.sp-heading {
    color: var(--primary);
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    background-color: transparent;
}

.para {
    background-color: transparent;
}

.sub-para {
    font-size: 0.7rem;
}



/* HOME PAGE CSS */
/* <!-- --------------------------------------------------------------------------------------------------------------------------- --> */



/* Navbar */

.logo {
    width: 10rem;
}

.menu ul li {
    list-style-type: none;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.menu ul li i {
    color: var(--white);
}

.menu ul li:hover {
    color: var(--primary);
    transition: 400ms;
}

.nav-btns ul li {
    list-style-type: none;
}

.btn-1 {
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    background-color: var(--primary);
    cursor: pointer;
}

.btn-1:hover {
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--primary);
    color: var(--primary);
    border-radius: 50px;
    background-color: var(--secondary);
    transition: 500ms;
}


.btn-1-icon {
    padding: 5px;
    margin-left: 8px;
    color: var(--secondary);
    background-color: var(--white);
    border-radius: 50px;
}

.btn-1-icon:hover {
    margin-left: 8px;
    padding: 5px;
    color: var(--white);
    border-radius: 50px;
    background-color: var(--primary);
    transition: 300ms;
}

.btn-2 {
    padding: 15px 20px 15px 20px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
}

.btn-2:hover {
    padding: 15px 20px 15px 20px;
    border: 2px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    background-color: transparent;
    transition: 500ms;
}


/* Hero Section  */

#hero-sec {
    background-image: url(./assets/home/hero-banner1.jpg);
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;

}

#hero-content {
    width: 50%;
    background-color: transparent;
}

.main-heading {
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 2px 2px 8px #000;
    line-height: 3.5rem;
    background-color: transparent;
}

#hero-sec-para {
    text-shadow: 2px 2px 8px #000;
    background-color: transparent;
}


/* Welcome Section  */



.welcome-sec-items {
    padding: 30px;
    width: 250px;
    border: 2px solid var(--white);
    border-radius: 20px;
    /* background-color: transparent; */
}

.welcome-sec-items:hover {
    border-radius: 0px;
    transition: 800ms;
}


/* Category Section  */


/* .items {
    width: 200px;
} */

#categ-items .items img {
    width: 200px;
    height: 350px;
    object-fit: cover;
    opacity: 0.8;
}

#categ-items .items img:hover {
    opacity: 1;
    transition: 800ms;
}


#dis-sec-img {
    height: 80vh;
}

#dis-sec-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#dis-sec-cont {
    height: 80vh;
}

.deals .deals-items .items img {
    width: 330px;
    height: 225px;
    border-radius: 5px;
    flex-wrap: wrap;
    object-fit: cover;
}

.deals .deals-items {
    flex-wrap: wrap;
}

#social-feed-sec #social-feed-items .items img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.footer {
    background-color: var(--gray);
    padding: 100px 100px 10px 100px;
}

.footer-text {
    color: var(--accent);
}

.footer .footer-menu {
    list-style-type: none;
}

.footer .footer-menu li {
    margin-top: 10px;
    color: var(--accent);
}

.footer .p-4 .footer-icons {
    margin-right: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--primary);
}

.footer .p-1 {
    width: 40%;
    padding-right: 50px;
}

.footer .p-2 {
    width: 20%;
}

.footer .p-3 {
    width: 20%;
}

.footer .p-4 {
    width: 20%;
}


/* ABOUT PAGE CSS */
/* <!-- --------------------------------------------------------------------------------------------------------------------------- --> */


